.wrapper

  = render 'messages/shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          明細タイトル_Aグループ
        %ul.left-header__members
          Member：
          %li.member
          明細タイトル_メンバー１
      .right-header
        .right-header__button
          Edit
      .cb
    .messages
      .message
        .upper-message
          .upper-message__user-name
            明細メンバー１
          .upper-message__date
            2017/04/05
        .lower-meesage
          .lower-message__content
            明細メッセージ１
      .message
        .upper-message
          .upper-message__user-name
            明細メンバー２
          .upper-message__date
            2017/04/06
        .lower-meesage
          .lower-message__content
            明細メッセージ２
      .message
        .upper-message
          .upper-message__user-name
            明細メンバー３
          .upper-message__date
            2017/04/07
        .lower-meesage
          .lower-message__content
            明細メッセージ３
    .form
      %form
        %input.form__message{placeholder:'type a message'}
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}
